.box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  top: 0;
  &::before {
    content: '';
    display: block;
    width: 100%;
    background-color: #1f1f1f24;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(4px);
  }
}
.loader {
  margin: 0 auto;
  width: 55px;
  height: 55px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: rotation 2s ease-in-out infinite alternate;
}
.loader::after {
  border-color: var(--color-danger-100);
  animation-direction: alternate-reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
