.menu {
  border: 2px solid var(--color-dark-300);
  border-radius: 12px;
  width: max-content;
  padding: 10px 40px 10px 10px;
  background-color: var(--color-dark-100);
}
.list {
  margin: 0 -7.5px;
  display: flex;
  align-items: center;
}
.item {
  margin: 0 7.5px;
}
