:root {
  // danger
  --color-danger-100: #b00;

  // dark
  --color-dark-100: #0f0f0f;
  --color-dark-300: #1f1f1f;
  --color-dark-500: #1a1a1a;
  --color-dark-700: #0d0d0d;

  // light
  --color-light-100: #fff;
  --color-light-300: #d2d2d2;
  --color-light-500: #bfbfbf;
}
