.box {
  margin-bottom: 24px;
}
.form {
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 24px 0;
}
