.link {
  all: unset;
  font-weight: 400;
  display: block;
  font-size: var(--font-size-m);
  line-height: 150%;
  color: var(--color-light-500);
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
  &_active,
  &:hover {
    cursor: pointer;
    color: var(--color-light-100);
    background: var(--color-dark-500);
  }
}
