.fields {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.box {
  margin: 0 10px 20px;
  width: 48%;
}
.content {
  width: 100%;
}
button.button {
  max-width: 200px;
  width: 100%;
  margin: 25px 0 0 auto;
  display: block;
}
