.title {
  text-align: center;
  margin: 24px 0 0;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-m);
  color: var(--color-light-300);
}
.link {
  color: var(--color-light-300);
  font-weight: var(--font-weight-semi-bold);
  text-decoration-skip-ink: none;
}
