.title {
  color: var(--color-light-100);
  line-height: 150%;
  font-weight: var(--font-weight-bold);
  margin-bottom: 18px;
  font-size: var(--font-size-m);
}

.link {
  all: unset;
  display: block;
  cursor: pointer;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
