html,
body {
  transition: all 0.3s ease;
  height: 100%;
}
.wrapper {
  max-width: 1440px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.auth-title {
  margin: 0 0 30px;
  font-weight: 600;
  color: var(--color-danger-100);
  font-size: var(--font-size-xl);
  span {
    color: var(--color-light-300);
  }
}
