html,
body {
  transition: all 0.3s ease;
  height: 100%;
}
.wrapper {
  max-width: 1440px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
