.row {
  display: flex;
  margin: 0 -12px;
  align-items: center;
  p {
    margin: 0;
  }
}
.box {
  margin: 0 12px;
}
.name {
  font-size: var(--font-size-l);
  color: var(--color-light-100);
  font-weight: var(--font-weight-bold);
  margin-bottom: 6px;
}
