.container {
  cursor: pointer;
  display: flex;
  width: 100%;
}
.checkbox {
  all: unset;
  display: flex;
  text-align: center;
  border-radius: 10px;
  font-weight: var(--font-weight-bold);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background-color: var(--color-dark-500);
  &[aria-checked='true'] {
    background: var(--color-danger-100);
  }
}

.indicator {
  position: relative;
  display: flex;
  align-items: center;
}

.label {
  cursor: pointer;
  color: var(--color-light-300);
  margin-left: 15px;
  position: relative;
  z-index: 0;
  width: 100%;
}

.icon {
  height: 10px;
  width: 10px;
  display: inline-block;
  position: absolute;
  background: center/cover no-repeat url('/fi-rs-check.svg');
}
